.back{
    position: absolute;
    background-color:#4e73df;
    height: 100%;
    width: 100%;
}
.mainDiv{
    position: relative;
    width: 80%;
    height: 500px;
    background-color: white;
    margin-left: 10%;
    top: 15px;
    border-radius: 10px;

}
.row{
    padding:9px ;
}
.msg,.checkbox,.fp{
    padding-left: 40%;
}
.ca{
    padding-left: 33%;
}

.password{
    
    margin-left:5%;
    width:90%;
    top:10px ;
}
.Name{
    margin-left:5%;
    width:90%;
    top:10px ;
    
}
.mail{
    margin-left:5%;
    width:90%;
    top:10px ;
}
.message{

    text-align: center;
}

.check{
    display: block;
    margin-left:10%;
}
.btn-login{
    margin-top: 10px;
    display: block;
    margin: 0 auto;
    width: 80%;
}
.btn{
    border-radius: 30px;
}
.btn-google{
    margin-top: 20px;
    display: block;
    margin: 0 auto;
    width: 80%;
}
.btn-facebook{
    margin-top: 8px;
    display: block;
    margin: 0 auto;
    width: 80%;
}
.dog{
     visibility: hidden;
}
@media only screen and (min-width: 991px) {
    .mainDiv {
        padding-left: 40%;
    }
    .dog{
        position: absolute;
        bottom: 0%;
        left: -10%;
        width: 430px;
        height: 500px;
        margin-left: 10%;
        border-radius: 10px;
        display:unset;
        visibility: visible;
    }

  }
  @-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(10deg);}
    50%{-webkit-transform: rotate(-5deg)}
    100%{-webkit-transform: rotate(10deg);}
}
 
@keyframes swinging{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(10deg);}
}
 
.swingimage{
    position: absolute;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;
    height: 90px;
    width: 90px;
    top: 1px;
    right: 4px;
    border-radius: 50px;
}
input[type="submit"] {
    border-radius: 30px;
    border: 0;
    background: white;


}
